<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Room AI{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_management/css/profile.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <!-- Add any additional styles or scripts here -->
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'user_management/css/Styly_logo.jpg' %}" alt="STYLY Logo">
            <p>STYLY</p>
        </div>
        <div class="nav-links">

            
            <a href="#" id="ai-designer-link" class="{% if 'ai_designer' in request.path %}active{% endif %}">Generate</a>
            <a href="#" id="priceplan-link" class="{% if 'price_plan' in request.path %}active{% endif %}">Pricing</a>
            <a href="#" id="profile-link" class="{% if 'profile' in request.path %}active{% endif %}">Profile</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div id="page-content">
        {% block content %}
            <!-- Content will be loaded here -->
        {% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to load profile data
            function loadProfileData() {
                $('#page-content').load('{% url "user_homepage"%}');

            }
    
            // Function to load AI designer data
            function loadAIDesignerData() {
                $('#page-content').load('/path/to/ai_designer.html');
            }
            function loadPricePlanData() {
                $('#page-content').load('{% url "price_plan"%}');

            }
    
            // Click event for profile link
            $('#priceplan-link').on('click', function(event) {
                event.preventDefault(); // Prevent the default behavior of the link
                loadProfileData();
            });
    
            // Click event for AI designer link
            $('#ai-designer-link').on('click', function(event) {
                event.preventDefault(); // Prevent the default behavior of the link
                loadAIDesignerData();
            });
    
            // Click event for home link
            $('#priceplan-link').on('click', function(event) {
                event.preventDefault(); // Prevent the default behavior of the link
                loadPricePlanData();
            });
    
            // Initial load
            //loadProfileData(); // Load profile data by default
        });
    </script>
</body>
</html>
